<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>KissAnime</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>http://kissanime.com/</string>
        <string>http://kissanime.to/</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
